
@{
    ViewBag.Title = "Index";
}

<br />
姓名:
<input type="text" name="姓名" value="" />
<br /><p></p>
帳號:
<input type="text" name="姓名" value="" />
<br />密碼:
<input type="text" name="姓名" value="" />
<br />


性別:
<input type="radio" name="gender" value="A" />男性
<input type="radio" name="gender" value="A" />女性
<br />

興趣:
<input type="checkbox" name="item" value="" />游泳
<input type="checkbox" name="item" value="" />閱讀
<input type="checkbox" name="item" value="" />看電影
<br />

自我介紹:<textarea name="message" rows="10" cols="30"> </textarea>







